.item{
    border: 1px solid red;
    padding: 20px;
}  

.container{

    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
padding: 20px;
    gap: 25px;
}  
#first{
    grid-column: 1/4;
}

#sec{
    grid-column: 1/4;
    grid-row: 2/2;
}
#thrd{
    grid-column: 1/4;
    grid-row: 3/3;
}
#frth{
    grid-column: 1/4;
    grid-row: 4/4;
}
